.header {
    position: relative;
    z-index: 2;
    background-color: #FAFCFD;
    padding-top: 1px;
    margin-bottom: 179px;

    @include breakpoint-up(medium){
        margin-bottom: 209.5px;
    }

    nav {
        margin-top: 22.5px;
        
        @include breakpoint-up(medium){
            height: 50px;
        }
    }

    &__logo {
        width: 92px;
        height: 29px;
    }

    &__btn {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.05em;
        font-size: $font-sm;
    }
}