// Colors
$color-primary: #557FF2;
$placeholder: #484851;
$borderline: #D4DCF1;
$darkBlue: #2952CC;
$active: #061E66;
$error: #E95F5F;
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-headingM: 2.5rem; // 40px mobile
$font-headingD: 4rem; // 64px desktop
$font-sizeD: 1.5rem; // 24px desktop
$font-med: 1rem; // 16px

$font-lg: 1.25rem;
$font-xlg: 3.25rem;