// Colors
$color-primary: #557FF2;
$placeholder: #484851;
$borderline: #D4DCF1;
$darkBlue: #2952CC;
$active: #061E66;
$error: #E95F5F;
$white: #ffffff;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-headingM: 2.5rem; // 40px mobile
$font-headingD: 4rem; // 64px desktop
$font-sizeD: 1.5rem; // 24px desktop
$font-med: 1rem; // 16px

